.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color: gold;
}

a {
	color: gold;
}

.center-pills {
    display: flex;
    justify-content: center;
}

.section_a {
	margin-top: 50px;
	padding: 0 5% 0 5%;
}

.footer_div{
padding-bottom:20px;

}

.footer_div h1{
font-size:12pt;
text-align:center;
color:gold;

}

.footer_div h2{
font-size:11pt;
text-align:center;
color:gold;

}

.paddingBottom8px{
padding-bottom: 8px;
}

.listStyleNone{
list-style: none;
}

.maxWidth70Width8{
	max-width: 70%;
	width: 8%;
}

.maxWidth80Width8{
	max-width: 80%;
	width: 8%;
}

.font1TextDecorationNoneColorWhite{
	font-size:1.2rem;
	text-decoration:none;
	color:white;
}

.font1TextDecorationNoneColorWhite a{
color: white;
text-decoration: none;
}

.colorGoldTextAlignCenter{
	color: gold;
	text-align: center;
}

.center{
	text-align: center;
}

.width100{
width:100%;
}

.colorGoldTextDecorationNone{
	color:gold;
	text-decoration:none;
}

.sitemapSection{
	margin-top: 50px;
	padding: 0 15% 0 15%;
}

.width50MarginAuto{
	width:50%;
	margin: auto;
}

.width30{
	width:30%;
}

.width60{
	width:60%;
}

.font22{
	font-size: 22px;
}

.font14Bottom35{
	font-size: 14px !important;
	bottom: 35px !important;
}
