.testbody
{
    background-image: none !important;
    background-color: #ffffff !important;
}

.txt10
{
    font-size: 10px;
}

.txt11
{
    font-size: 11px;
}

.txt12
{
    font-size: 12px;
}

.txt13
{
    font-size: 13px;
}

.txt14
{
    font-size: 14px;
}

.txt15
{
    font-size: 15px;
}

.txt16
{
    font-size: 16px;
}

.txt17
{
    font-size: 17px;
}

.txt18
{
    font-size: 18px;
}

.txt19
{
    font-size: 19px;
}

.txt20
{
    font-size: 20px;
}

.txt22
{
    font-size: 22px;
}

.txt24
{
    font-size: 24px;
}

.txt26
{
    font-size: 26px;
}

.txt28
{
    font-size: 28px;
}

.txt30
{
    font-size: 30px;
}

.txt32
{
    font-size: 32px;
}

.txt34
{
    font-size: 34px;
}

.b600
{
    font-weight: 600;
}

.ital
{
    font-style: italic;
}

.txtshad
{
    text-shadow: 1px 1px #000000;
}

.space1
{
    width: 100%;
    height: 1px;
    clear: both;
}

.space5
{
    width: 100%;
    height: 5px;
    clear: both;
}

.space10
{
    width: 100%;
    height: 10px;
    clear: both;
}

.space15
{
    width: 100%;
    height: 15px;
    clear: both;
}

.space20
{
    width: 100%;
    height: 20px;
    clear: both;
}

.space25
{
    width: 100%;
    height: 25px;
    clear: both;
}

.space30
{
    width: 100%;
    height: 30px;
    clear: both;
}

.space40
{
    width: 100%;
    height: 40px;
    clear: both;
}

.space50
{
    width: 100%;
    height: 50px;
    clear: both;
}

.ubuntu
{
    font-family: 'Ubuntu', sans-serif;
}

.marcellus
{
    font-family: 'Marcellus', serif;
}

.muli
{
    font-family: 'Muli', sans-serif;
}

.opensans
{
    font-family: 'Open Sans', sans-serif;
}

.ptsans
{
    font-family: 'PT Sans', sans-serif;
}

/*.alerterr
{
    width: 90%;
    color: #b94a48;
    font-weight: bold;
    padding: 8px 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #f2dede;
    border: 1px solid #daadb3;
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}*/

INPUT.dumbutt
{
    font-size: 0px;
    BACKGROUND-COLOR: transparent;
    border: 0px solid;
}

.depgap
{
    width: 100%;
    height: 50px;
    clear: both;
}

.divTblProdDet
{
    padding: 20px 50px 50px 50px;
}

    .divTblProdDet #tblProdDet
    {
        border-collapse: collapse;
    }

        .divTblProdDet #tblProdDet tr
        {
            border-bottom: 1px solid #6e4f02 !important;
        }

        .divTblProdDet #tblProdDet th
        {
            background: none;
            font-weight: lighter;
            color: #5a5a5a;
            font-size:15px;
            padding: 20px 0;
        }

        .divTblProdDet #tblProdDet td
        {
            background: none;
            color: white;
            padding: 20px 0;
            border-bottom: 0px !important;
            font-size:18px;
        }

.tbh1
{
    text-align: left;
    border-spacing:1px;
    border-collapse: separate;
}

    .tbh1 th {
        background-color: #DAA520;
        color: #ffffff;
        /*font-weight: bold;*/
        /*font-weight: bold;*/
        padding: 10px;
    }

    .tbh1 td {
        background-color: #252525;
        color: #ffffff;
        /*font-weight: bold;*/
        font-size: 13px;
        padding: 10px;
        border-bottom: 1px solid #281d01 !important;
        vertical-align: top;
    }

        .tbh1 td p
        {
            font-size: 10px;
            margin:0;
        }
#tblbank
{
    border-collapse:collapse;
    border-spacing:0px;
}
#tblbank tr:first-child
{
    border: 2px solid black;
}

#tblbank th
{
    border: 2px solid black;
}

#tblbank td
{
    border-left: 2px solid black;
}

/* ----------------- ORG CSS MOD ----------------- */
#logo .m-menu {
    margin-top: -5px !important;
    width: 6%;
    margin-left: 2%;
    padding: 2%;
}

#bank_container
{
    border: 0px solid white;
    min-height: 300px;
}

#faq_content
{
    margin-top: 20px;
    text-align: justify;
}

.contact
{
    margin-left: 50px;
    width: 230px;
    color: white;
    font-family: 'Open Sans';
    font-size: 0.9em;
    margin-top: 10px;
    text-align: left;
    float: left;
    border: 0px solid white;
}

    .contact p
    {
        font-family: 'Open Sans';
        font-weight: bold;
        margin: 0px;
        margin-top: 8px;
        float: left;
        margin-bottom: 5px;
    }

    .contact img
    {
        float: left;
        clear: both;
        padding: 5px;
        margin-right: 5px;
        float: left;
    }

.lang
{
    border: 0px solid white;
    display:inline-block;
    vertical-align:top;
}

.slot_category
{
    text-align: left;
    font-family: arial;
    font-weight: normal;
    margin: 5px;
    width: 246px;
    height: 178px;
    border-radius: 3px;
    float: left;
    overflow: hidden;
}

    .slot_category img
    {
        margin: 0;
        padding: 0;
        border: 3px solid transparent;
        -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
        -webkit-border-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
        border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
        border-image-slice: 1;
        border-radius: 5px;
        width: 96%;
        float: left;
    }

.acc-prod
{
    font-size: 0px;
}

    .acc-prod .productcontainer {
        display: inline-block;
        width: calc(100%/3);
        text-align: center;
        font-size: 0px;
        vertical-align: top;
        height: 343px;
        position: relative;
        /*margin-bottom: 20px;*/
        background-color: #0b1320;
        padding-bottom: 30px;
    }
        .acc-prod .productcontainer .acc-prod-img
        {
            margin-top:10px;
            height: 140px;
            background: url(../images/prod-badge.png);
            background-position: center;
            background-repeat: no-repeat;
        }

            .acc-prod .productcontainer .acc-prod-img img
            {
                width: 33%;
                margin-top: 30px;
            }

.upperslot, .upperslot2
{
    height: 56px;
    overflow: auto;
    font-size: 12px;
    color: white;
}

    .upperslot .up-usr
    {
        min-width:32%;
        width: auto;
        display: inline-block;
        text-align: left;
        background-color: #352805;
        padding: 4px 10px;
        font-size: 15px;
    }

        .upperslot .up-usr p
        {
            margin: 0;
            font-weight: bold;
        }

            .upperslot .up-usr p:first-child
            {
                font-size: 9px;
            }

.img_container
{
    width: 100%;
    text-align: center;
}

    .img_container img
    {
        text-align: center;
        height: 5%;
        width: 15% !important;
        margin: 0 2%;
    }

.bottomslot
{
    width: 100%;
    height: 50px;
    font-family: 'PT Sans', Arial;
    margin: 1px;
    font-size: 11px;
}

    .bottomslot p
    {
        color: white;
        font-weight: bold;
        font-size: 12px;
        margin:10px 0;
    }

.btn5
{
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 17%, rgba(189,189,189,1) 43%, rgba(222,222,222,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(17%, rgba(255,255,255,1)), color-stop(43%, rgba(189,189,189,1)), color-stop(100%, rgba(222,222,222,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 17%, rgba(189,189,189,1) 43%, rgba(222,222,222,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 17%, rgba(189,189,189,1) 43%, rgba(222,222,222,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 17%, rgba(189,189,189,1) 43%, rgba(222,222,222,1) 100%);
    cursor: pointer;
    color: black;
    font-size: 15px;
    padding: 8px 10px;
    border: 0px;
    width: 200px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Century Gothic';
    box-shadow: 0px 0px 14px 0px grey;
}

    .btn5:disabled
    {
        color:grey;
        cursor: not-allowed;
    }

.btn7:disabled
{
    background: #828282;
    border: 1px solid #808080;
    cursor: not-allowed !important;
    background-image: -webkit-linear-gradient(top, #828282, #363636);
    background-image: -moz-linear-gradient(top, #828282, #363636);
    background-image: -ms-linear-gradient(top, #828282, #363636);
    background-image: -o-linear-gradient(top, #828282, #363636);
    background-image: linear-gradient(to bottom, #828282, #363636);
    text-decoration: none;
    cursor: pointer;
}

.form img
{
    float: right;
}

/*.form input[type="file"]{
	width:325px;
    clear: both;
    color: black;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: arial;
    padding: 5px;
	font-weight:bold;
	-webkit-appearance: none;
	background:no-repeat right #dcdcdc;
    margin-bottom:9px;
}*/
.form ::-webkit-file-upload-button
{
    float: left;
    border-radius: 5px;
    border: none;
    background: #1f6e94;
    color: white;
    /*padding: 5px;*/
}

.submenu
{
    display: none;
}

.prodsubm
{
    display: none;
}

.dmdl3
{
    display: none;
}

    .dmdl3 img
    {
        max-width: 100% !important;
        max-height: 100% !important;
    }

.logobet
{
    width: 100%;
    border: 0px solid white;
}

.divfp
{
    display: none;
}

.divbank
{
    margin-bottom :50px;
}

.divbank_m
{
    display: none;
}

.fxdfld
{
    color: #227fa8;
    font-weight: bold;
}

.txtprof {
    color: #DAA520;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* ----------------------------------- JQUERY.TICKER ----------------------------------- */
.marquee {
    width: 1024px;
    overflow: hidden;
    border: 0px solid #ccc;
    background: transparent;
    color: #ffffff;
}

UL.marq {
    list-style: none;
    margin: 0;
    padding: 0;
}

    UL.marq > li {
        padding-right: 980px;
        float: left;
        position: relative;
    }

A:link.marqlnk {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Century Gothic';
}
A:active.marqlnk { color: #ffffff; text-decoration: none; }
A:visited.marqlnk { color: #ffffff; text-decoration: none; }
A:hover.marqlnk { color: #DAA520; text-decoration: none; }
/* ----------------------------------- JQUERY.TICKER ----------------------------------- */

/* ------------ MAGNIFIC POPUP ----------------- */
.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    color: #000000;
    border-radius: 5px;
}

.black-popup {
    position: relative;
    background: #000000;
    padding: 20px 20px 50px;
    width: auto;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 5px;
    font-size: 16px;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(137, 137, 137, .75);
    -moz-box-shadow: 0px 0px 15px 5px rgba(137, 137, 137, .75);
    box-shadow: 0px 0px 15px 5px rgba(137, 137, 137, .75);
}

.mfp-indiv {
    width: 100%;
    overflow: auto;
}
/* ------------ MAGNIFIC POPUP ----------------- */

.headfld {
    border: 0 !important;
    border-bottom: 2px solid #DAA520 !important;
    padding: 10px !important;
    font-family: 'Century Gothic' !important;
    color: #fff !important;
    background-color: transparent !important;
    border-radius: 0 !important;
}

.btn-login {
    border-radius: 3px;
    border: 2px solid #DAA520 !important;
    font-family: 'Century Gothic' !important;
    font-weight: bold;
    font-size: 14px;
    color: #DAA520;
    background-color: #0b1320;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 8px 10px;
    min-width: 100px;
    text-decoration: none;
    margin-left: 10px;
    margin-bottom: 5px;
    cursor:pointer;
}
.btn-login-m {
    font-size: 3.3vw;
    border: 1px solid #DAA520 !important;
    min-width: unset !important;
    padding: 0.8vw 2vw;
    right: 21vw;
    position: absolute;
    -webkit-appearance: none;
}
.btn-prof-m {
    font-size: 3.3vw;
    border: 0 !important;
    min-width: unset !important;
    padding: 0px 8px;
}
.btn-xm {
    font-size: 3.3vw;
    min-width: unset !important;
    padding: 1vw 2vw;
    right: 0;
    position: absolute;
}

.img-whatsapp {
    margin-left: 35%;
}

.uni-title {
    min-height: 120px;
}
.txtreg {
    font-family: 'Century Gothic' !important;
    font-size: 2em !important;
    font-weight: bold !important;
    color: #DAA520 !important;
    text-transform: none !important;
}
.txtreg2 {
    font-family: 'Century Gothic' !important;
    font-size:14px;
    color:#fff;
}

.sport-bg {
    position: relative;
    min-width: 1024px;
    min-height: 355px;
    border:0px solid yellow;
    background-image: url('../images/sport-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.sport-bg-cont {
    position: relative;
    width: 980px;
    padding: 20px;
    text-align: left;
    color: #fff;
    border: 0px solid #00ff00;
    padding-top: 250px;
    display:inline-block;
    padding-bottom:50px;
}

.sport-box1 {
    width: 300px;
    display: inline-block;
    height: auto;
    border: 0px solid white;
    float: left;
    margin-right: 20px;
    font-family: 'Century Gothic';
}
.sport-box-logo {
    max-width: 80%;
    height:60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}
.sport-box2 {
    width: 48%;
    height: 60px;
    border-radius: 5px;
    background-color: #286183;
    float: left;
    text-align: left;
}
.sport-txt {
    padding: 10px;
    font-size: 13px;
    line-height:20px;
}
.sport-txt-tit {
    color: gold;
    font-size: 11px;
    font-weight:bold;
}
.sport-box3 {
    width: 48%;
    height: 60px;
    border-radius: 5px;
    background-color: #286183;
    float: right;
    text-align: left
}
.sport-box4 {
    clear: both;
    height: 10px;
}
.sport-box5 {
    width: 100%;
    height: 60px;
    line-height:60px;
    border-radius: 5px;
    background-color: #286183;
    text-align:center;
    display:block
}
    .sport-box5 > img, .sport-box5 > a > img {
        max-height: 40px;
        margin-top: 8px;
        padding: 0 5px;
    }
.sport-req-acc {
    border:0;
    width: 50%;
    height: 30px;
    clear: both;
    line-height: 30px;
    border-radius: 20px;
    text-align: center;
    background-color: #DAA520;
    font-size: 0.8vw;
    font-weight: bold;
    color: #fff;
    font-family: 'Century Gothic';
    cursor:pointer;
}
.disb {
    pointer-events: none;
    background-color: #ccc;
    color: #808080;
}

.w600 { width:600px; }

.alerterr {
    /*width: 600px;*/
    padding: 10px;
    background-color: #f2dede;
    border: 1px solid white;
    clear: both;
    color: #3299cc;
    margin-bottom: 20px;
    color: #b94a48;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
    border: 1px solid #daadb3;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    display:block;
}

.alertsuc {
    color: #468847;
    font-weight: bold;
    padding: 8px 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    display: block;
    margin-bottom: 10px;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.profile-bg {
    background-image: url('../images/bg-cont.jpg'); 
    background-size: 120%; 
    background-repeat:no-repeat; 
    background-position: top;
}

.title-prof {
    display: none;
}

.acc-box {
    width: 100%;
}

.acc-box1, .acc-box2, .acc-prof {
    width: 80%;
    display: block;
    height: 60px;
    line-height: 60px;
    border-radius: 5px;
    background-color: #102133;
    text-align: left;
    color: #fff;
    margin-bottom: 5px;
}
    .acc-box1 > div > a > img, .acc-box2 > div > a > img {
        max-height: 40px;
        margin-top: 8px;
        padding: 0 15px;
    }

.acc-box3 {
    display: none;
}

.div-acc-prof {
    border: 0px solid white;
    width: 45%;
    float: left;
    margin-right: 10px;
}

    .div-acc-prof:last-child {
        margin-right: 0 !important;
    }

.div-acc-dep {
    border: 0px solid white;
    width: 50%;
    float: left;
    margin-right: 35px;
}
    .div-acc-dep:last-child {
        width:42%;
        margin-right: 0 !important;
    }

.div-acc-dep2 {
    float: left;
    width: 42%;
    margin-right: 0 !important;
}
.div-acc-dep3 {
    display: none;
}

.acc-prof {
    width: 90%;
}

.acc-space {
    width: 100%;
    height: 50px;
    clear: both;
}

.w90 { width:90%; }
.w95 { width:95%; }
.w100 { width:100%; }
.pad20 { padding:20px; }
.pad30 { padding: 30px; }
.pad50 { padding: 50px; }

.h80 {
    height: 124px;
}

.acc-txt, .acc-prof-txt {
    padding: 10px;
    font-size: 1.5vw;
    line-height: 20px;
}

.acc-txt-tit {
    color: gold;
    font-size: 1vw;
    font-weight: bold;
}

table.myacc {
    border-collapse:separate; border-spacing:0
}
table.myacc > tbody > tr > td { padding:0 }
    table.myacc > tbody > tr > td.myacctd1 {
        padding: 20px 0 15px 0;
        border-bottom: 5px solid #DAA520;
        font-weight: bold;
        cursor:pointer;
    }
    table.myacc > tbody > tr > td.myacctd2 {
        padding: 20px 0 20px 0;
        color: #6b6b6b;
        font-weight: bold;
        cursor: pointer;
    }

.divmyacc1 {
    width: 100%;
    background-color: #0b1320;
    border-bottom: 2px solid #DAA520
}
.divmyacc2 {
    width: 92%;
    color: #fff;
    text-align: left;
}

table.tbprof {
    width:100%;
    border-collapse: separate;
    border-spacing: 0
}
table.tbprof > tbody > tr > td { padding:0; }

.accframe {
    border: 2px solid #DAA520;
    margin-top: -3px;
    background-color: #0b1320;
}

.divbnk {
    width: 47%;
    float: left;
    margin-right: 5px;
    margin-bottom: 10px;
}
.divbnk1 {
    background-color: #1f4969;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1vw;
}
.divbnk2 {
    background-color: #102133;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    color: #fff;
    font-weight: bold;
}

.m-live-bg {
    display:none;
}

.live-bg {
    display: block;
    position: relative;
    min-width: 1024px;
    min-height: 355px;
    border: 0px solid yellow;
    background-image: url('../images/bg-live.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #0b1320
}

.live-bg-cont {
    position: relative;
    width: 980px;
    padding: 50px 20px 20px 20px;
    text-align: left;
    color: #fff;
    border: 0px solid #00ff00;
    display: inline-block;
    padding-bottom: 50px;
}

.live-frame {
    width: 33%;
    float: left;
    border: 0px solid white;
    margin-bottom:30px;
}
.live-frame-bg {
    position:relative;
    text-align:center;
    width: 273px;
    height: 384px;
    background-image: url('../images/live-frame.png');
    background-repeat: no-repeat
}
.live-g1 {
    position: absolute;
    z-index: 10;
    align-content: center;
    top: -30px;
    left: -25px
}

.live-g2 {
    position: absolute;
    z-index: 10;
    align-content: center;
    width: 328px !important;
    height: 338px !important;
    max-width: 328px !important;
    max-height: 338px !important;
    top: -10px;
    left: -35px
}

.live-g3 {
    position: absolute;
    z-index: 10;
    align-content: center;
    width: 381px !important;
    height: 351px !important;
    max-width: 381px !important;
    max-height: 351px !important;
    top: -10px;
    left: -25px
}

.live-badge {
    position: absolute;
    display: inline-block;
    border: 0px solid white;
    z-index: 11;
    bottom: 10px;
    width: 228px;
    height: 148px;
    background-image: url('../images/live-badge.png');
    background-size: 228px;
    background-repeat: no-repeat;
    left: 25px
}

    .live-badge > img {
        margin-top: 20px;
    }

.live-game1 {
    border-radius: 5px;
    margin: 10px 0;
    background-color: rgba(61,155,214,0.15)
}
.live-game1-s {
    width: 254px;
    height: 60px;
}

.live-game1-b {
    width: 254px;
    height: 130px;
}
.live-game2 {
    padding: 0 15px;
    text-align: left
}

.live-game1-s > img, .live-game1-s > a > img, .slot-game1-s > img, .slot-game1-s > a > img {
    max-height: 40px;
    margin-top: 8px;
    padding: 0 5px;
}

.slot-bg {
    position: relative;
    min-width: 1024px;
    min-height: 355px;
    border: 0px solid yellow;
    background-color: #0b1320
}

.slot-bg-cont {
    position: relative;
    width: 980px;
    padding-top:50px;
    /*padding: 50px 20px 20px 20px;*/
    text-align: left;
    color: #fff;
    border: 0px solid #00ff00;
    display: inline-block;
    padding-bottom: 50px;
}

.slot-frame {
    width: 24%;
    float: left;
    display:block;
    border:0px solid white;
    margin-bottom:10px;
}
.slot-frame1 {    
    height: 450px;
    position: relative;    
    border-radius: 10px;
    border: 0px solid white;
    margin: 0 10px 10px 0;
    background-repeat: no-repeat;
}
.slot-end {
    margin: 0 !important;
}

.slot-bg1 {
    background-image: url('../images/slot-bg1.png');
}

.slot-bg2 {
    background-image: url('../images/slot-bg2.png');
}

.slot-bg3 {
    background-image: url('../images/slot-bg3.png');
}

.slot-bg4 {
    background-image: url('../images/slot-bg4.png');
}

.slot-bg5 {
    background-image: url('../images/slot-bg5.png');
}

.slot-bg6 {
    background-image: url('../images/slot-bg6.png');
}

.slot-bg7 {
    background-image: url('../images/slot-bg7.png');
}

.slot-bg8 {
    background-image: url('../images/slot-bg8.png');
}

.slot-frame-logo {
    width: 100%;
    height: 120px;
    border-radius: 0 0 10px 10px;
    background-color: #000;
    position: absolute;
    bottom: 0;
}

.slot-frame-logo > div > img { margin-top:7px; }

.slot-game1 {
    border-radius: 5px;
    margin: 10px 0;
    background-color: rgba(61,155,214,0.15)
}
.slot-game1-s {
    width: 95%;
    height: 60px;
    text-align: center;
}

.slot-game1-b {
    width: 95%;
    height: 130px;
    text-align:center;
}

.slot-game2 {
    padding: 0 15px;
    text-align: left;
}

.txt-vip {
    font-family: 'Century Gothic';
    font-size: 7vw;
    font-style: italic;
    font-weight: bold;
    color: #fff;
    margin: 20px 0;
}

table.tb-vip {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
}
    table.tb-vip > tbody > tr > th > img {
        max-width:75%;
    }
    table.tb-vip > tbody > tr > td {
        background-color: #213043;
        border-radius: 5px;
        font-size: 12px;
        padding: 10px;
        text-align: center;
        color: #fff;
    }
        table.tb-vip > tbody > tr > td:first-child {
            background-color: transparent !important;
            text-align: left;
            color: #ffffc0
        }

        table.tb-vip > tbody > tr > td:last-child {
            border: 3px solid #DAA520;
        }

    table.tb-vip > tbody > tr:nth-child(2) > td {
        background-color: #053b57;
    }

table.tb-cont {
    width: 1024px;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 10px;
    background-color: #fff;
}
.tb-cont td:first-child {
    background-color: #000;
    width: 245px;
    border-radius: 10px 0 0 10px;
    color: #fff;
}

.tb-cont-menu1 {
    width: 100%;
    border-radius: 10px 0 0 0;
}

.tb-cont-txt {
    padding:30px; font-weight:bold; cursor:pointer;
}
.tbcm-over {
    background-color: #DAA520
}

#tnc_content {
    width: auto !important;
}

.proddet-cont {
    margin-bottom: 10%;
    background-color: #0b1320;
}

.proddet-cont-pad {
    width: 100%;
    display: inline-block;
    padding: 20px 0 50px 30px;
    border: 0px solid gold;
}

.dep-btn {
    clear: both;
    border: 0px solid white;
}

    .dep-btn .con-btn {
        text-align: center;
    }

.time-pick .select {
    width: 26%;
    display: inline-block;
    margin-right: 3.7%;
}

.m-nav {
    display: none;
}

.m-slot {
    display: none;
}

.ind-slot-m {
    display:none;
}

.m-sport-bg {
    display: none;
}

table.tb-promo {
    width: 100%;
    height: 62px;
    border-collapse: separate;
    border-spacing: 0;
}

    table.tb-promo > tbody > tr > td {
        padding: 0;
        font-family: 'Century Gothic';
        color: white;
        font-weight: bold;
        font-style: italic;
        font-size: 2.8vh;
    }

        table.tb-promo > tbody > tr > td:first-child {
            background-color: #252525;
            border-top: 4px solid #DAA520;
            padding: 0 15px;
        }

            table.tb-promo > tbody > tr > td:first-child > span {
                color: #DAA520;
            }

.td-promo { display: block; }

.bg-cont {
    display: block;
}

.m-bg-cont {
    display: none;
}

.cont-title {
    font-family: 'Century Gothic';
    font-size: 30px;
    font-style: italic;
    color: #00317d;
    font-weight: bold
}

.divVIP {
    display: block;
}
.m-divVIP {
    display: none;
}

.divMarq {
    width: 1024px;
    margin-top: 10px;
    height: 3.2vh;
    line-height: 3.2vh;
    padding: 0.7vh 1vh;
    border: 0px solid white;
    background-color: #252525;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Century Gothic';
}

.div-ind-prod {
    width: 1024px;
    border: 0px solid white;
    display: inline-block;
    margin-top: 15px;
}

.tbc-menu {

}
    .tbc-menu:hover {
        background-color: #DAA520;
    }

table.tbindprod { width:100%; border-collapse: separate; border-spacing: 0; }
/*table.tbindprod > tbody > tr > td { padding-left:0; padding-right: 10px; }
table.tbindprod > tbody > tr > td:last-child { padding-left:10px; padding-right: 0; }*/
table.tbindprod > tbody > tr > td > a > img { padding-bottom: 20px; width:97%; }

.tbindcont {
    width: 97%;
    height: 280px;
    /*line-height: 280px;*/
    border: 0px solid white;
    background-image: url('../images/ind-prod-cont-bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 20px;
    border-radius: 10px;
}
.divindcont {
    padding-top: 75px;
    width: 60%;
    text-align: left;
    color: #fff;
    font-size: 21px;
    font-family: "Century Gothic";
}
.txtblue {
    color: #DAA520
}

.spaceFoot {
    display: none;
}

.divPromo { display: block; }

.tnc-header {
    color: #000 !important;
    font-size: 2.2vh;
}

#tnc_content ul li ul li {
    color: #000;
    font-size: 1.8vh;
}

.sidenav-footer {
    background-color: #111 !important;
}

.divBanS {
    width: 100%;
}

.title-top {
    width:100%; clear:both; height: 3vh; border:0px solid white;
}

.div-pr-slide {
    width: 500px;
    height: 320px;
    border: 0px solid white;
    cursor: pointer;
}

.lowCase { text-transform: lowercase !important; }
.bold { font-weight: bold !important; }

#faq_content {
    width: 100% !important;
    font-family: "Century Gothic";
    color: #00317d;
}

#faq_content ul li {
    font-style: italic;
    margin-bottom: 28px;
}

    #faq_content ul li span {
        color: #000;
        font-style: normal;
        margin: 20px 0;
    }

/* ******************* EDIT: 20190315 ******************* */
.divfoot1 {
    display: none;
}
.divfootsep {
    width: 100%;
    margin-top: 50px;
    clear: both;
    height: 1px;
    background-color: #2e2e2e
}

table.bnkcover {
    width: 100%;
    border-collapse: collapse;
    background-color: #DAA520;
    border-radius: 10px;
}
    table.bnkcover > tbody > tr > td {
        padding: 0.05em;
        background-color: #DAA520;
    }

.bnkcaption {
    color: #fff;
    font-family: 'Century Gothic';
    font-style: italic;
    padding-bottom: 15px;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
}

.banking th:first-child {
    border-radius: 10px 0 0 0;
}
.banking th:last-child {
    border-radius: 0 10px 0 0;
}
.banking tr:last-child > td:first-child {
    border-radius: 0 0 0 10px;
}
.banking tr:last-child > td:last-child {
    border-radius: 0 0 10px 0;
}
/* -------------------------------- MEDIA SCREEN MAX 480px -------------------------------- */
@media screen and (max-width : 480px) {

    .banking .m-bank table {
        margin-bottom: 0%;
    }

    .banking th:first-child {
        border-radius: 0;
    }

    .banking th:last-child {
        border-radius: 0;
    }

    .banking tr:last-child > td:first-child {
        border-radius: 0;
    }

    .banking tr:last-child > td:last-child {
        border-radius: 0;
    }

    .br1 {
        border-top-left-radius: 10px !important;
    }

    .br2 {
        border-top-right-radius: 10px !important;
    }

    .br3 {
        border-bottom-left-radius: 10px !important;
    }

    .br4 {
        border-bottom-right-radius: 10px !important;
    }

    #faq_content {
        font-size: 4vw;
        color: #DAA520;
    }

        #faq_content ul li span {
            color: #fff;
        }

    .tnc-header {
        color: #DAA520 !important;
        font-size: 4vw;
    }
    #tnc_content ul li ul li {
        color: #979797;
        font-size: 4vw;
    }

    .reg_phone_format {
        font-size: 3.3vw !important;
    }
    .divPromo { display: none; }

    .fileinput {
        left: 0;
        width: 20vw;
        font-size: 3vw;
    }

    .spaceFoot {
        width: 100%;
        height: 15vh;
        display: block;
    }
    .div-ind-prod {
        display: none;
    }

    .divMarq {
        display: none;
    }

    .vip {
        background: unset !important; 
    }

    .divVIP {
        display: none;
    }

    .m-divVIP {
        display: block;
        text-align: center;
    }

    .m-divVIP > div > img {
        margin-bottom: -2vh;
    }

    .m-vip-1 {
        width: 80%;
        border-radius: 5px;
        background-color: #053b57;
        padding: 1.7vh 2.3vh;
        display: inline-block;
        margin-bottom: 1vh;
    }

    .m-vip-2 {
        background-color: #213043;
    }

    .m-vip-t1 {
        width: 55%;
        float: left;
        display: inline-block;
        text-align: left;
        font-size: 4.2vw;
        color: #ffffc0;
    }

    .m-vip-t2 {
        width: 35%;
        float: right;
        display: inline-block;
        text-align: right;
        font-size: 4.2vw;
        color: #fff;
    }

    .txt-vip {
        font-size: 10vw;
        margin: 20px 0;
    }

    .bg-cont {
        display: none;
    }

    .m-bg-cont {
        display: block;
        padding: 3vh 1vh;
        text-align: left;
        color: #fff;
    }

        .m-bg-cont > b {
            color: #DAA520
        }

    .cont-title {
        font-size: 5vw;
        color: white;
        text-align: center;
    }

    table.tb-promo > tbody > tr > td {
        font-size: 2vh;
    }

        table.tb-promo > tbody > tr > td:first-child {
            padding: 0 1vh;
        }

    .td-promo { display: none; }

    .sport-bg { display: none; }

    .m-sport-bg { display: block; border: 0px solid red; padding:5% 3%; background-color:#000; }
    .m-sport-div {
        display: inline-block;
        width: 100%;
        min-height: 30vh;
        border: 0px solid white;
        margin-top: 5%;
    }
    .m-sport-img1 {
        width:90%; margin-top:3%;
    }
    .m-sport-img2 {
        width: 40%;
        float: left;
        margin-left: -3%;
    }

    .ind-slot-m {
        display: block;
        padding-bottom: 10vh;
    }

    .slot-bg {
        display: none;
    }

    .live-bg {
        display: none;
    }

    .m-live-bg {
        display: block;
        width: 100%;
        min-height: 600px;
        border: 0px solid yellow;
        background-image: url('../images/bg-live.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #0b1320;
        padding: 20px;
    }

    .m-live-bg-cont {
        width: 90%;
        text-align: left;
        color: #fff;
        border: 0px solid #00ff00;
        display: inline-block;
    }

    .m-live-frame {
        width: 35%;
        float: left;
        position: relative;
        margin-top: 4vh;
    }

    .m-live-acc {
        width: 60%;
        float: right;
        border: 0px solid white;
        margin-top: 7vw;
        margin-right: 1vw;
        position: relative;
    }

    .m-live-acc2 {
        display: block;
        width: 92%;
        background-color: #102133;
        border-radius: 10px;
        padding: 1.5vh;
        margin-top: 1vh;
        min-height: 14vh;
        position: relative;
    }

    .m-live-d {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: block;
        border: 0px solid white;
        left: 0vw;
    }

        .m-live-d > div > a > img {
            max-height: 10vw;
            margin-bottom: 2vw;
            padding: 0 1vw;
        }

    .m-live-d2 {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: block;
        border: 0px solid white;
        left: 0vw;
    }

        .m-live-d2 > div > a > img {
            max-height: 10vw;
            margin-bottom: 10vw;
            padding: 0 1vw;
        }

    .m-live-title {
        font-family: 'Century Gothic';
        font-style: italic;
        font-size: 5.5vw;
        color: #DAA520;
        font-weight: bold;
    }

    .m-live-frame-bg {
        position: relative;
        text-align: center;
        width: 100%;
        min-height: 25vh;
        background-image: url('../images/live-frame.png');
        background-repeat: no-repeat;
        background-size: 100%;
        border: 0px solid white;
    }

    .m-live-g1 {
        position: absolute;
        z-index: 10;
        align-content: center;
        top: -2.5vh;
        left: -3vw
    }

    .m-live-g2 {
        position: absolute;
        z-index: 10;
        align-content: center;
        top: -2.5vh;
        left: -3vw;
        max-width: 110%;
    }

    .m-live-g3 {
        position: absolute;
        z-index: 10;
        align-content: center;
        top: -1vh;
        left: -2vw;
        max-width: 120%;
    }

    .m-live-badge {
        position: absolute;
        display: inline-block;
        border: 0px solid white;
        z-index: 11;
        bottom: 1vh;
        width: 90%;
        height: 10vh;
        /*height: 148px;*/
        background-image: url('../images/live-badge.png');
        background-size: 100%;
        background-repeat: no-repeat;
        left: 1.7vw;
    }

        .m-live-badge > img {
            margin-top: 0.75vh;
            width: 80% !important;
        }

    .m-sport-acc {
        width: 60%;
        float: right;
        border: 0px solid white;
        margin-top: 7vw;
        margin-right: 1vw;
        position: relative;
    }
        .m-sport-acc > div > img {
            width:80%; margin-bottom: 2%;
        }

    .m-sport-acc2 {
        display: block;
        width: 90%;
        background-color: #102133;
        border-radius: 10px;
        padding: 1.5vh;
        margin-top: 1vh;
        min-height: 14vh;
        position: relative;
    }

    .m-nav {
        display: block;
        background-color: #DAA520;
        border: 0px solid white;
    }
    .m-nav-container {
        margin: 0 auto;
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        position: relative;
    }

        .m-nav-container ul {
            padding: 0;
            margin: 0;
            display: flex
        }

        .m-nav-container li {
            font-family: "Century Gothic", sans-serif;
            font-weight: normal;
            font-size: 2.7vw;
            color: #fff;
            letter-spacing: 1.2px;
            flex-grow: 1;
            text-align: center;
            list-style-type: none;
            border-right: 1px solid #0b1320;
        }
            .m-nav-container li:last-child { border-right: 0 !important; }

            .m-nav-container li:hover, .m-nav-container li:active, .mnc-over, .mnc-over > div > div {
                background-color: #0b1320;
                cursor: pointer;
                color: #DAA520;
            }

        .m-nav-container .m-nav-items {
            margin: 17px 10px;
        }

        .m-nav-container li p {
            text-decoration: none;
            color: #fff;
            margin: 0;
        }

        .m-nav-container .m-nav-items-img {
            height: 33px;
        }

        .m-nav-container .m-nav-items-text {
            margin-top: 5px;
        }

    .m-slot {
        display: block !important;
        padding: 5% 4%;
        color: #fff;
        border: 0px solid white;
    }

    .m-slot-d1 {
        width: 100%;
        height: 20vh;
        background-color: #102133;
        border-radius: 3vw;
        border: 1px solid gold;
    }
    .m-slot-d2 {
        width: 35%;
        float: left;
        height: 20vh;
        border-radius: 3vw 0 0 3vw;
        position: relative;
        background-repeat: no-repeat;
        background-size: 110%;
        background-position: center 25%;
        background-color: #0b1320;
        border-right: 1px solid gold;
    }
    .m-slot-bg1, .m-slot-bg5, .m-slot-bg9 {
        background-image: url(../images/slot-bg1.png);
    }
    .m-slot-bg2, .m-slot-bg6, .m-slot-bg10 {
        background-image: url(../images/slot-bg2.png);
    }
    .m-slot-bg3, .m-slot-bg7, .m-slot-bg11 {
        background-image: url(../images/slot-bg3.png);
    }
    .m-slot-bg4, .m-slot-bg8, .m-slot-bg12 {
        background-image: url(../images/slot-bg4.png);
    }

    .m-slot-divreq {
        width: 100%;
        text-align: center;
        padding-top: 2vw
    }

    .m-slot-regf {
        text-align: center;
        font-size: 4vw;
        padding-top: 2vw;
    }

    .m-slot-d3 {
        width: 100%;
        /*background-color: #000;*/
        background-color: transparent;
        height: 7vh;
        position: absolute;
        bottom: 0;
        /*border-radius: 0 0 0 3vw;*/
        text-align: center;
    }

    .m-slot-d4 {
        width: 60%;
        float: right;
        height: 18vh;
        border: 0px solid white;
        margin-top: 2vw;
        margin-right: 2vw;
        position: relative;
    }


    .m-slot-d5 {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: block;
        border: 0px solid white;
    }
        .m-slot-d5 > div > a > img {
            max-height: 10vw;
            margin-top: 2vw;
            padding: 0 5px;
        }

        .field-lbl, .field-input {
            font-size: 3.5vw !important;
        }

    .m-slot-d6 {
        position: absolute;
        line-height: 18vh;
        width: 100%;
        display: block;
        border: 0px solid white;
    }
        .m-slot-d6 > div > a > img {
            max-height: 10vw;
            margin-top: 10vw;
            padding: 0 5px;
        }

    .sidenav .sidenav-container {
        height: 80%;
    }

    .time-pick .select {
        width: 25%;
        margin-right: 2.5% !important;
    }

        .time-pick .select:last-child {
            margin-right: 0 !important;
        }

    .divbnk {
        width:46%;
        border:0px solid white;
    }
    .divbnk1 {
        font-size: 3vw;
    }

    .div-acc-dep {
        border: 0px solid white;
        width: 90%;
        float: none;
        margin-right: 0 !important;
        margin-bottom: 10%;
    }
        .div-acc-dep:last-child {
            width: 90%;
            margin-right: 0 !important;
        }

    .div-acc-dep2 { display: none; }

    .div-acc-dep3 {
        display: inline-block;
        border: 0px solid gold;
        width: 100%;
        float: none;
        padding-bottom: 5vh;
        margin-left: -6vw;
    }

    .dep-btn {
        padding: 10% 0;
        margin-top: unset;
    }

    .accframe {
        border: 0 !important;
        background-image: url('../images/bg-cont-m.jpg');
        background-size: 100%;
        background-position: center top;
    }

    .m-bg-cont {
        background-image: url(../images/bg-vip.jpg);
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: cover;
        background-size: 150%;
        background-color: #0b1320;
    }

    .title-prof {
        display: block;
        width: 100%;
        font-size: 6vw;
        color: #fff;
        font-weight: bold;
        text-align: center;
        background-color: #0b1320;
        padding: 5% 0
    }

    .acc-box {
        width: 60%;
        float: right;
        border: 1px solid gold;
    }

    .acc-box1 {
        width: 100%;
        display: block;
        height: 60px;
        line-height: 60px;
        background-color: #102133;
        text-align: left;
        color: #fff;
        margin-bottom: 0;
    }

        .acc-box1 > div > a > img {
            max-height: 35px;
            margin-top: 8px;
            padding: 0 5px;
        }

    .acc-box2 { display: none; }

    .acc-box3 {
        width: 100%;
        display: block;
        height: 60px;
        line-height: 60px;
        background-color: #102133;
        text-align: left;
        color: #fff;
        margin-bottom: 0;
    }

    .acc-box1-bot {
        /*border-radius: 0 0 5px 5px;*/
        height: 55px;
        line-height: 55px;
    }

    .acc-txt {
    border-right: 1px solid gold;
    border-bottom: 1px solid gold;
    display: inline-block;
    padding: 6px;
    width: 44%;
    font-size: 3vw;
    overflow: hidden;
    }
    .acc-txt-tit {
        font-size: 2.7vw;
    }

    .acc-prof {
        width: 85%;
    }

    .acc-prof-txt {
        border: 0px solid white;
        display: inline-block;
        margin-left: 5px;
        padding: 5px;
        width: 100%;
        font-size: 4vw;
        overflow: hidden;
    }

    .div-acc-prof {
        width: 100%;
    }

    .acc-space {
        width: 100%;
        height: 15px;
        clear: both;
    }

    .sport-req-acc {
        width: 80%;
        font-size: 2.5vw;
        padding: 10px;
    color: #fff !important;
    }

    table.myacc > tbody > tr > td.myacctd1, table.myacc > tbody > tr > td.myacctd2 {
        font-size: 4vw;
    }

    .tbh1 td {
        font-size: 18px;
    }

    .divTblProdDet {
        padding: 0 5%;
    }

        .divTblProdDet th {
            width: 30% !important;
        }

    .contact {
        display: none;
    }

    #productdetail {
        margin-bottom: 5%;
    }

    .acc-prod .productcontainer {
        width: 100%;
        text-align: left;
        height: unset;
        margin: 0;
        margin-top: 20px;
        padding-bottom: 0;
        borde
    }

        .acc-prod .productcontainer .xcnt {
            padding: 0 5%;
        }

            .acc-prod .productcontainer .xcnt .bottomslot {
                display: none;
            }

            .acc-prod .productcontainer .xcnt > img {
                display: none;
            }

            .acc-prod .productcontainer .xcnt .h-line {
                display: block !important;
                margin: 10% 0 5% 0;
            }

        .acc-prod .productcontainer:last-child .xcnt .h-line {
            display: none !important;
        }

        .acc-prod .productcontainer .xcnt .upperslot, .acc-prod .productcontainer .xcnt .upperslot2 {
            display: inline-block;
            width: 55%;
            vertical-align: top;
            margin-top: 10%;
            height: unset;
        }

        .acc-prod .productcontainer .xcnt .upperslot2 {
            margin-top: 13%;
        }

            .acc-prod .productcontainer .xcnt .upperslot2 .btn5 {
                width: 100%;
            }

        .acc-prod .productcontainer .xcnt .up-usr {
            display: block;
            margin-bottom: 0.5%;
            background-color: #382a06;
        }

        .acc-prod .productcontainer .acc-prod-img {
            height: 100px;
            display: inline-block;
            width: 35%;
            text-align: center;
            background-size: 100%;
            position: relative;
            border: 0px solid white;
        }

            .acc-prod .productcontainer .acc-prod-img img {
                width: 55%;
                top: 26%;
                left: 20%;
                margin-top: 0;
                position: absolute;
            }

    .proddet-cont-pad {
        padding: 20px;
    }

    .icond {
        max-width: 30% !important;
    }

    .bottomslot {
        margin-bottom: 50px;
    }

    .submenu {
        display: block;
    }

    .prodsubm {
        display: block;
    }

    .prodcont {
        display: none;
    }

    .dmdl3 {
        display: block;
    }

        .dmdl3 img {
            max-width: 32% !important;
            height: auto !important;
        }

    .mobile_chat_content {
        width: 18%;
        float: left;
        padding: 2px;
    }

    .divfp {
        display: block;
    }

    .divbank {
        display: none;
    }

    .divbank_m {
        display: block;
    }

    .btn8 {
        background: #07283b;
        background: url('../images/m_desktop_icon.png') left no-repeat, -moz-linear-gradient(top, #07283b 0%, #07283b 17%, #114964 46%, #185e82 50%, #1a6c92 58%, #2489bf 71%, #2ba5e8 83%, #2daef2 88%, #2eb2fa 92%, #2fb5fe 96%, #2fb5fe 100%);
        background: url('../images/m_desktop_icon.png') left no-repeat, -webkit-linear-gradient(top, #07283b 0%,#07283b 17%,#114964 46%,#185e82 50%,#1a6c92 58%,#2489bf 71%,#2ba5e8 83%,#2daef2 88%,#2eb2fa 92%,#2fb5fe 96%,#2fb5fe 100%);
        background: url('../images/m_desktop_icon.png') left no-repeat, linear-gradient(to bottom, #07283b 0%,#07283b 17%,#114964 46%,#185e82 50%,#1a6c92 58%,#2489bf 71%,#2ba5e8 83%,#2daef2 88%,#2eb2fa 92%,#2fb5fe 96%,#2fb5fe 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07283b', endColorstr='#2fb5fe',GradientType=0 );
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        font-family: Arial;
        color: #ffffff;
        font-size: 15px;
        padding: 10px 15px 10px 60px;
        border: solid #2494bf 1px;
        text-decoration: none;
        margin-left: 5px;
        margin-bottom: 5px;
        font-family: 'Marcellus';
        width: 80% !important;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
    }

    #logo {
        text-align: left !important;
    }

    .m_logo {
        border: 0px solid white;
        width: 35%;
        margin-left: 12% !important;
    }

    .m-login {
        width: 43%;
        height: 100%;
        margin-right: 1.5vw;
        border: 0px solid white;
    }

    .p-contact {
        border-top: 0px solid #DAA520;
        position: fixed;
        bottom: 0;
        z-index: 12;
    }

    .m-social {
        background-color: #DAA520;
        border: 0px solid white;
        display: block !important;
    }

    .m-xapps {
        width: 16%;
        background-color: #DAA520;
        padding: 2%;
        text-align: center;
        float: left;
        /*font-size: 0.7em;*/
        font-size: 2.75vw;
    }

        .m-xapps img {
            max-width: 60%;
            max-height: 60%;
            display: inline-block;
            margin-bottom: 10px;
            border: 0px solid red;
            padding: 1% 7%;
        }

    .m-xapps-over {
        background-color: #FFD700;
    }

}

@media screen and (max-width : 320px) {

    .time-pick .select {
        width: 24%;
        margin-right: 3.4% !important;
    }

    .acc-prod .productcontainer .acc-prod-img img {
        top: 30%;
    }

    .sport-req-acc {
        font-size: 2.75vw;
        -webkit-appearance: none;
    }

    .m-live-frame-bg {
        min-height: 35vh; /* -- +/- BELOW: m-live-badge --*/
    }

    .m-live-badge {
        height: 12vh;
        bottom: 7vh; /* -- +/- TOP: m-live-frame-bg --*/
    }

    .m-live-acc2 {
        min-height: 17vh;
    }

    .btn-login-m {
        right: 23vw;
    }
}
/* Localized */